<header>
  <div class="header-left">
    <%= link_to root_path, class: "header-left-heading" do %>
      住宅リフォーム おうちの110番
    <% end %>
  </div>
  <%= fa_icon 'bars', class: 'menu-icon', id: 'bars' %>
  <div class="header-right">
    <%= link_to '事業内容', service_path %>
    <%= link_to '施工事例', portfolio_path %>
    <%= link_to 'お問い合わせ', contact_path %>
    <%= link_to '　案内　', company_path %>
  </div>
</header>