<div class="slider">
  <% @images.each do |image| %>
    <div class="slick-content">
      <%= image_tag "#{image}", alt: "リフォームイメージ" %>
    </div>
  <% end %>
</div>
<div class="top-content">
  <h1 class="top-content-top">理想の住まいと生活を実現します</h1>
  <h1 class="top-content-bottom">家のお悩みをなんでも解決します</h1>
</div>
<div class="menu-wrapper">
  <ul class="flex-list">
    <% @menus.each_with_index do |item,i| %>
      <li class="list<%= i + 1 %>">
        <%= link_to item[:link] do %>
          <%= image_tag item[:image], alt: item[:content] %>
          <p><%= item[:content] %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>