<!DOCTYPE html>
<html>
  <head>
    <title>ReformeSite</title>
    <meta charset="UTF-8">
    <title>株式会社おうちの110番</title>
    <meta name="description" content="リフォーム専門、株式会社おうちの110番のWebサイトです。">
    <meta name="keyword" content="リフォーム,東京,千葉,神奈川,内装,外装,キッチン,トイレ,風呂,外壁,屋根">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <%= render 'header' %>
    <%= yield %>
    <%= render 'footer' %>
  </body>
</html>
